// Font Variables

$fontxs: 0.75em;
$fontsm: 0.875em;
$fontmd: 1em;
$fontlg: 1.25em;
$fontxl: 2em;
$fontxxl: 3em;
$fontxxxl: 4em;

$fontButton: 0.875em;

$fontLight: 200;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;