
// Global Variables
$body: #fff;
$text: #898E9F;
$title: #1F1F21;
$brand: #FF7836;

$body-dark: #1F1F21;

$bodyRgba: (255, 255, 255);
$textRgba: rgba(32, 32, 32);

$carouselColor: rgb(238, 237, 222);



$navHeight: 5rem;
