@import '../utils/breakpoints';

.accordion {
  background: $title;
  color: $text;

  &__title{
    font-family: $font-title;
    font-size: 2.6rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: $body;
    @include media(">425px", "<=desktop") {
      font-size: 2.4rem;
    }

    span{
      color: $brand;
    }
  }

  &__content{
    margin-top: 6rem;
    @include media(">425px", "<=desktop") {
      margin-top: 4rem;
    }
  }

  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 30px 0;
    transition: all 0.2s ease;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;

    &-title{
      text-transform: capitalize;
      @include media(">425px", "<=desktop") {
        font-size: 0.95rem;
      }
    }

    &-toggle{
      color: $body;
      font-size: 1.8rem;
      font-weight: 400;
      transition: all 0.2s ease;
    }

    &-summary{
      font-size: 1.2rem;
      width: 90%;
      margin: 3rem 0;
      .read-more{
        color: $brand;
        text-decoration: underline;
        font-size: 1.2rem;
        font-weight: 200;
        cursor: pointer;

        svg{
          margin-right: 10px;
        }
      }
    }
  }
}