@import '../utils/breakpoints';


.footer{
  padding: 10rem 8% 0 8%;
  &-top{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    column-gap: 4rem;

    @include media(">425px", "<=desktop") {
      row-gap: 2rem;
    }
  }

  &-title{
    color: $text;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-content{
    margin-top: 20px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: fit-content;
    @include media(">425px", "<=desktop") {
      margin-top: 10px;
      font-size: 1.2rem;
      row-gap: 1rem;
    }
  }

  &__logo{
    font-family: $font-title;
    font-size: 2.4rem;
    @include media(">425px", "<=desktop") {
      font-size: 3.2rem;
    }
  }

  &__social{
    display: flex;
    column-gap: 1rem;
    &-link{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background: $title;
      border-radius: 50%;
      cursor: pointer;

      svg{
        font-size: 1.2rem;
        color: $body;
      }
    }
  }





  &-bottom{
    margin: 3rem 0;
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
    color: $text;

    &-copy{
      @include media(">425px", "<=desktop") {
        display: none;
      }
    }
    &-docs{
      display: flex;
      column-gap: 2rem;
      a{
        transition: all ease 0.02s;
        &:hover{
          text-decoration: underline;
          color: $title;
        }
      }
    }
  }
}